<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="person-imagery">
    <div class="ion-text-center user">
      <ion-avatar>
        <img [src]="'assets/images/profile_img.png'" />
      </ion-avatar>
      <h2>Mafalda Matias</h2>
      <h4>Lagos, Nigeria</h4>
    </div>
    <hr class="tiny-divider" />
    <div class="account-pref">
      <h4>Account</h4>
      <ion-item lines="none">
        <ion-label>
          <p class="ion-text-wrap">Personal Information</p>
        </ion-label>
        <ion-button slot="end" fill="clear">
          <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p class="ion-text-wrap">Edit Profile</p>
        </ion-label>
        <ion-button slot="end" fill="clear">
          <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p class="ion-text-wrap">Country</p>
        </ion-label>
        <ion-button slot="end" fill="clear">
          <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p class="ion-text-wrap">Language</p>
        </ion-label>
        <ion-button slot="end" fill="clear">
          <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-item>
      <h4>General</h4>
      <ion-item lines="none">
        <ion-label>
          <p class="ion-text-wrap">Notifications</p>
        </ion-label>
        <ion-button slot="end" fill="clear">
          <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p class="ion-text-wrap">Touch ID and Password</p>
        </ion-label>
        <ion-button slot="end" fill="clear">
          <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-item>
      <h4>Help and Support</h4>
      <ion-item lines="none">
        <ion-label>
          <p class="ion-text-wrap">Privacy and Security</p>
        </ion-label>
        <ion-button slot="end" fill="clear">
          <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p class="ion-text-wrap">About Us</p>
        </ion-label>
        <ion-button slot="end" fill="clear">
          <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-item>
    </div>
    <hr class="tiny-divider" />
    <br>
  </div>

</ion-content>