<ion-tabs lines="no">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="assets/icon/home.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nearby">
      <ion-icon src="assets/icon/placeholder.svg"></ion-icon>
      <ion-label>Near By</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="offers">
      <ion-icon src="assets/icon/offers.svg"></ion-icon>
      <ion-label>Offers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="loyalty">
      <ion-icon src="assets/icon/loyalty.svg"></ion-icon>
      <ion-label>Loyalty</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon src="assets/icon/profile.svg"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>