<ion-content class="ion-padding">
  <div class="top_div">
  </div>

</ion-content>
<ion-footer>
  <div class="bottom_div">
    <div class="actions">
      <ion-button (click)="goToSignUpPage()" color="custom-primary" expand="block" fill="solid" class="btn reg">
        Register
      </ion-button>
      <ion-button (click)="goToLoginPage()" color="start" expand="block" fill="solid" class="btn login">
        <span>Login</span>
      </ion-button>
    </div>
    <div class="term-condition">
      <h3>Terms & Conditions</h3>
    </div>
  </div>
</ion-footer>